java/NewWebTrading/code/admin/WebRoot/WEB-INF/classes/MSSEService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EServiceIntegrationServiceService" targetNamespace="http://webservice.mss.mtss.taifook.com/" xmlns:tns="http://webservice.mss.mtss.taifook.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.mss.mtss.taifook.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.mss.mtss.taifook.com/">
    <xs:complexType name="errorInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
            <xs:element minOccurs="0" name="errorLevel" type="tns:errorLevel"/>
            <xs:element minOccurs="0" name="errorLocation" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="errorParams" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="clientFundMemo">
        <xs:sequence>
            <xs:element minOccurs="0" name="accountStmtId" type="xs:string"/>
            <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
            <xs:element minOccurs="0" name="currencyCode" type="xs:string"/>
            <xs:element minOccurs="0" name="fundChannelCode" type="tns:fundChannel"/>
            <xs:element minOccurs="0" name="isForceDebit" type="xs:boolean"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="remarkForStatementInfoList" nillable="true" type="tns:remarkForStatementInfo"/>
            <xs:element minOccurs="0" name="segregatedFundCode" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionTypeCode" type="xs:string"/>
            <xs:element minOccurs="0" name="valueDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="remarkForStatementInfo">
        <xs:complexContent>
            <xs:extension base="tns:baseModelDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isPrimary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="langCode" type="tns:language"/>
                    <xs:element minOccurs="0" name="remarkForStatement" type="xs:string"/>
                    <xs:element minOccurs="0" name="remarkId" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="baseModelDto">
        <xs:sequence>
            <xs:element minOccurs="0" name="createTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="lastUpdateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="lastUpdatedBy" type="xs:string"/>
            <xs:element minOccurs="0" name="recordVersion" type="xs:long"/>
            <xs:element minOccurs="0" name="tagSequence" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="clientFundMemoBatchResult">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="errorCodeList" nillable="true" type="tns:errorInfo"/>
            <xs:element minOccurs="0" name="fundId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="terminalInfoDto">
        <xs:sequence>
            <xs:element minOccurs="0" name="clientVersion" type="xs:string"/>
            <xs:element minOccurs="0" name="ipAddress" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="errorLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="fundChannel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPS_BANK"/>
            <xs:enumeration value="PPS"/>
            <xs:enumeration value="IVRS"/>
            <xs:enumeration value="H3G"/>
            <xs:enumeration value="AEAUTO"/>
            <xs:enumeration value="STT"/>
            <xs:enumeration value="WEB"/>
            <xs:enumeration value="SYSTEM_PLACEMENT"/>
            <xs:enumeration value="SYSTEM_IPO"/>
            <xs:enumeration value="ONLINE"/>
            <xs:enumeration value="MTSS"/>
            <xs:enumeration value="SYSTEM"/>
            <xs:enumeration value="MANUALINP"/>
            <xs:enumeration value="ESERVICES"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="language">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EN"/>
            <xs:enumeration value="ZH_CN"/>
            <xs:enumeration value="ZH_TW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType final="#all" name="errorInfoArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:errorInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType final="#all" name="clientFundMemoArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:clientFundMemo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType final="#all" name="clientFundMemoBatchResultArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:clientFundMemoBatchResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ErrorInfoException" type="tns:ErrorInfoException"/>
    <xs:complexType name="ErrorInfoException">
        <xs:sequence>
            <xs:element name="errorInfo" nillable="true" type="tns:errorInfo"/>
            <xs:element name="errorList" nillable="true" type="tns:errorInfoArray"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://jaxb.dev.java.net/array" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array">
    <xs:complexType final="#all" name="stringArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPortfolioAvailableWithdrawBalanceResponse">
    <wsdl:part name="return" type="xsd:decimal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitMemoClientFundResponse">
    <wsdl:part name="return" type="xsd:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="switchCompanyResponse">
    <wsdl:part name="return" type="xsd:dateTime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortfolioAvailableWithdrawBalance">
    <wsdl:part name="accountStatementId" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="ccyCode" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
  </wsdl:message>
  <wsdl:message name="switchCompany">
    <wsdl:part name="targetCompanyCode" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitBatchClientFundMemo">
    <wsdl:part name="rec" type="tns:clientFundMemoArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="userId" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="encryptedPassword" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="terminalInfo" type="tns:terminalInfoDto">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logout">
  </wsdl:message>
  <wsdl:message name="ErrorInfoException">
    <wsdl:part name="ErrorInfoException" element="tns:ErrorInfoException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
  </wsdl:message>
  <wsdl:message name="debitMemoClientFund">
    <wsdl:part name="clientFundMemo" type="tns:clientFundMemo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitBatchClientFundMemoResponse">
    <wsdl:part name="return" type="tns:clientFundMemoBatchResultArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EServiceIntegrationService">
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout">
    </wsdl:input>
      <wsdl:output name="logoutResponse" message="tns:logoutResponse">
    </wsdl:output>
      <wsdl:fault name="ErrorInfoException" message="tns:ErrorInfoException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="debitBatchClientFundMemo">
      <wsdl:input name="debitBatchClientFundMemo" message="tns:debitBatchClientFundMemo">
    </wsdl:input>
      <wsdl:output name="debitBatchClientFundMemoResponse" message="tns:debitBatchClientFundMemoResponse">
    </wsdl:output>
      <wsdl:fault name="ErrorInfoException" message="tns:ErrorInfoException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="debitMemoClientFund">
      <wsdl:input name="debitMemoClientFund" message="tns:debitMemoClientFund">
    </wsdl:input>
      <wsdl:output name="debitMemoClientFundResponse" message="tns:debitMemoClientFundResponse">
    </wsdl:output>
      <wsdl:fault name="ErrorInfoException" message="tns:ErrorInfoException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPortfolioAvailableWithdrawBalance">
      <wsdl:input name="getPortfolioAvailableWithdrawBalance" message="tns:getPortfolioAvailableWithdrawBalance">
    </wsdl:input>
      <wsdl:output name="getPortfolioAvailableWithdrawBalanceResponse" message="tns:getPortfolioAvailableWithdrawBalanceResponse">
    </wsdl:output>
      <wsdl:fault name="ErrorInfoException" message="tns:ErrorInfoException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
      <wsdl:fault name="ErrorInfoException" message="tns:ErrorInfoException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="switchCompany">
      <wsdl:input name="switchCompany" message="tns:switchCompany">
    </wsdl:input>
      <wsdl:output name="switchCompanyResponse" message="tns:switchCompanyResponse">
    </wsdl:output>
      <wsdl:fault name="ErrorInfoException" message="tns:ErrorInfoException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EServiceIntegrationServiceServiceSoapBinding" type="tns:EServiceIntegrationService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="logout">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoException">
        <soap:fault name="ErrorInfoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="debitBatchClientFundMemo">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="debitBatchClientFundMemo">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:input>
      <wsdl:output name="debitBatchClientFundMemoResponse">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoException">
        <soap:fault name="ErrorInfoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="debitMemoClientFund">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="debitMemoClientFund">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:input>
      <wsdl:output name="debitMemoClientFundResponse">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoException">
        <soap:fault name="ErrorInfoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPortfolioAvailableWithdrawBalance">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getPortfolioAvailableWithdrawBalance">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:input>
      <wsdl:output name="getPortfolioAvailableWithdrawBalanceResponse">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoException">
        <soap:fault name="ErrorInfoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="login">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoException">
        <soap:fault name="ErrorInfoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="switchCompany">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="switchCompany">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:input>
      <wsdl:output name="switchCompanyResponse">
        <soap:body use="literal" namespace="http://webservice.mss.mtss.taifook.com/"/>
      </wsdl:output>
      <wsdl:fault name="ErrorInfoException">
        <soap:fault name="ErrorInfoException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EServiceIntegrationServiceService">
    <wsdl:port name="EServiceIntegrationServicePort" binding="tns:EServiceIntegrationServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
