c#/C#高级编程/WebServices/PCSWebClient3/Web References/authenticateService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSomething">
        <s:complexType />
      </s:element>
      <s:element name="DoSomethingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSomethingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationToken" type="s0:AuthenticationToken" />
      <s:complexType name="AuthenticationToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InnerToken" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="guid" type="s1:guid" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="DoSomethingSoapIn">
    <part name="parameters" element="s0:DoSomething" />
  </message>
  <message name="DoSomethingSoapOut">
    <part name="parameters" element="s0:DoSomethingResponse" />
  </message>
  <message name="DoSomethingAuthenticationToken">
    <part name="AuthenticationToken" element="s0:AuthenticationToken" />
  </message>
  <message name="LoginHttpGetIn">
    <part name="userName" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="LoginHttpGetOut">
    <part name="Body" element="s0:guid" />
  </message>
  <message name="LoginHttpPostIn">
    <part name="userName" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="LoginHttpPostOut">
    <part name="Body" element="s0:guid" />
  </message>
  <portType name="Service1Soap">
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="DoSomething">
      <input message="s0:DoSomethingSoapIn" />
      <output message="s0:DoSomethingSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="Login">
      <input message="s0:LoginHttpGetIn" />
      <output message="s0:LoginHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="Login">
      <input message="s0:LoginHttpPostIn" />
      <output message="s0:LoginHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DoSomething">
      <soap:operation soapAction="http://tempuri.org/DoSomething" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header d5p1:required="true" message="s0:DoSomethingAuthenticationToken" part="AuthenticationToken" use="literal" xmlns:d5p1="http://schemas.xmlsoap.org/wsdl/" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/PCSWebSrv3/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/PCSWebSrv3/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/PCSWebSrv3/Service1.asmx" />
    </port>
  </service>
</definitions>