c#/C#高级编程/WebServices/PCSWebClient1/Web References/myWebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CanWeFixIt">
        <s:complexType />
      </s:element>
      <s:element name="CanWeFixItResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CanWeFixItResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="CanWeFixItSoapIn">
    <part name="parameters" element="s0:CanWeFixIt" />
  </message>
  <message name="CanWeFixItSoapOut">
    <part name="parameters" element="s0:CanWeFixItResponse" />
  </message>
  <message name="CanWeFixItHttpGetIn" />
  <message name="CanWeFixItHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="CanWeFixItHttpPostIn" />
  <message name="CanWeFixItHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="Service1Soap">
    <operation name="CanWeFixIt">
      <input message="s0:CanWeFixItSoapIn" />
      <output message="s0:CanWeFixItSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="CanWeFixIt">
      <input message="s0:CanWeFixItHttpGetIn" />
      <output message="s0:CanWeFixItHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="CanWeFixIt">
      <input message="s0:CanWeFixItHttpPostIn" />
      <output message="s0:CanWeFixItHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CanWeFixIt">
      <soap:operation soapAction="http://tempuri.org/CanWeFixIt" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="CanWeFixIt">
      <http:operation location="/CanWeFixIt" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="CanWeFixIt">
      <http:operation location="/CanWeFixIt" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/PCSWebSrv1/Service1.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/PCSWebSrv1/Service1.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/PCSWebSrv1/Service1.asmx" />
    </port>
  </service>
</definitions>